venus/*
!venus/themes/
venus/themes/*
!venus/themes/tom_fancy/
public_html/*
!public_html/maia/
public_html/maia/*.xml
!public_html/potamos/
public_html/potamos/*.xml
./alcyone
./electra
./isaw-resources
./isaw-social
./maia
./paregoribib
./pleiades
./taygete
./potamos
*.tmplc
